.login {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-family: sans-serif;
    color: rgb(150, 149, 149);
}

h1 {
    margin: 28px 170px;
}

input {
    margin: 5px 78px;
    padding: 24px;
    border: 1px solid rgb(211, 210, 210);
    width: 360px;
    outline: none;
}

.password{
    position: relative;
    padding: 0;
}

span{
    display: block;
    margin-left: 90px;
    font-size: 10px;
    color: red;
    width: 100%;
}
.submit {
    margin: 20px 78px;
    padding: 21px;
    width: 410px;
    background-color: rgb(104, 104, 255);
    color: white;
    border: none;
    cursor: pointer;
}

p {
    margin: 30px 170px 0;
}

.forgot {
    margin-left: 178px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: rgb(80, 146, 233);
}

i{
    position: absolute;
    font-size: 19px;
    cursor: pointer;
    right: -100px;
    top: 28px;
    color: rgb(0, 157, 255);
}

