.reg {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: sans-serif;
    color: rgb(150, 149, 149);
    text-align: center;
}

h1 {
    margin: 30px auto;
}

div{
    width: 360px;
    margin-left: 11px;
}
input {
    margin: 5px 78px;
    padding: 24px;
    border: 1px solid rgb(211, 210, 210);
    width: 100%;
    outline: none;
    border-radius: 9px;
    transition: 0.4s;
}
input:focus{
    outline: solid 0.5px rgb(1, 136, 255);
    box-shadow: 0 0 10px 0px rgb(1, 136, 255);
}



.submit {
    margin: 20px 78px;
    padding: 21px;
    width: 410px;
    background-color: rgb(104, 104, 255);
    color: white;
    border: none;
    cursor: pointer;
}

p {
    margin: 20px 262px;
}

a {
    color: rgb(80, 146, 233);
    cursor: pointer;
    text-decoration: none;
}
span {
    margin-left: 80px;
    display: block;
    font-size: 10px;
    color: red;
    width: 100%;
}
i{
    position: absolute;
    font-size: 19px;
    cursor: pointer;
    right: -100px;
    top: 28px;
    color: rgb(0, 157, 255);
}