<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Siz UNIVERSITETDAN qoldirilgan dars soatlarini ko'pligidan aziyat chekayapsizmi <br>
                Sizga SPRAVKA KERAKMI  uni qayerdan olishni bilmayapsizmi<br>
                  Sizga biz yordam beramiz buning ucun pastdagi ssilkaga kiring <br>
                <a href="https://t.me/shakhzod_882">Soqqa</a>

                </h1>

            </div>
        </div>
    </div>
<style>
  *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
       background-image: url("/views/adminPages/soqqa.jpeg");
        background-repeat: no-repeat;
  }
    .container{
        margin-top: 100px;
    }
    h1{
        margin-left: 700px;
        margin-right: 50px;
        text-align: center;
      font-size: 30px;
    }


</style>

</body>
</html>